@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "../fonts/font.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

.card {
  width: 300px;
  box-shadow: 4px 8px 9px -1px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 4px 8px 9px -1px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 4px 8px 9px -1px rgba(0, 0, 0, 0.73);
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px;
  border-radius: 10px;
  gap: 2%;

  .image {
    flex: 2;
    align-self: center;
    overflow: hidden;
    border-radius: 5px;
    
    .img{
     object-fit: contain;
    }
   
  }
  .info{
    flex: 5;

    .title{
        font-size: 14px;
        font-weight: bold;
    }
    .desc{
        font-size: 12px;
    }

  }
}
