@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "../fonts/font.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

.main {
  width: 70%;
  margin: 0 auto;
  font-family: Poppins;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .userInfo {
      flex: 6;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .pictures {
        flex: 2;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        .container1 {
          overflow: hidden;
          width: 100px;
          border-radius: 50px;
          border: 6px solid #f85757;
          z-index: 10;
          background-color: #fff;
        }
        .container2 {
          overflow: hidden;
          width: 100px;
          border-radius: 50px;
          border: 6px solid #f85757;
          position: relative;
          right: 40px;
        }
      }
      .info {
        flex: 6;
        .name {
          font-size: 36px;
          font-weight: bolder;
        }
        .description {
          font-weight: 600;
          font-size: 14px;
        }
      }
    }

    .progress {
      flex: 2;
      display: flex;
      justify-content: flex-end;
      height: 100px;
      width: 150px;
    }
  }

  .stepper {
    margin-top: 10%;
    h5 {
      margin: 0 auto;
      text-align: center;
      font-weight: 600;
    }
  }
  // .cardSection {
  //   // display: flex;
  //   // flex-direction: column;
  //   // gap: 20%;
  // }
}

@media screen and (max-width: 767px) {
  .top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .userInfo {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .info {
        text-align: center;
      }
      .pictures {
        display: flex;
        align-items: center;
        padding-left: 20%;
      }

      .name {
        font-size: 12px;
      }
    }
    .progress {
      justify-content: center;
      align-items: center;
    }
  }
}
