@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "../fonts/font.scss";

.forgotpassword_container {
  font-family: $GiloryRegular;
  min-height: 100vh;
  .forgotpassword_nested {
    width: 550px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    // margin: 0 auto;
    .forgotpassword_heading {
      h1 {
        font-family: $GiloryBold;
      }
      p {
        padding: 8px 14px;
        font-family: $GiloryRegular;
      }
    }

    .form_forgotpassword {
      .forgotpassword_inputbox {
        padding: 8px 14px;
        input {
          width: 100%;
          padding: 12px 8px;
          outline: none;
          font-size: 16px;
          background: #ffffff;
          border: 0.2px solid #cccccc;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          font-family: $GiloryRegular;
          letter-spacing: 0.4px;
          &:hover {
            box-shadow: 0 0 0 4px rgb(248 87 87 / 14%);
          }
        }
        label {
          padding-left: 4px;
          padding-bottom: 8px;
          font-style: normal;
          font-weight: 200;
          font-size: 16.1004px;
          line-height: 20px;
          font-family: $GiloryMedium;
          color: #808080;
        }
        @media (max-width: 400px) {
          padding: 8px 0px;
        }
      }
      .btn_forgotpassword {
        padding: 8px 14px;
        button {
          width: 100%;
          padding: 18px 0px !important;
          background: #f85757;
          border: 0px solid #f85757 !important;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          border-radius: 100px;
          outline: none !important;
          font-size: 16px;
          line-height: 19px;
          color: #ffffff;
          font-family: $GiloryBold;
        }
        @media (max-width: 400px) {
          padding: 8px 0px;
        }
      }
      @media (max-width: 400px) {
        padding: 8px 0px;
      }
    }

    @media (max-width: 550px) {
      width: 90%;
      padding: 0.8rem !important;
    }
  }
}
